<div class="container">
    <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Formulario de Login</mat-card-title>
        </mat-card-header>
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="Introduce tu usuario" type="text">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Introduce tu usuario aquí</mat-hint>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="Introduce tu contraseña" type="password">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Introduce tu usuario aquí</mat-hint>
                </mat-form-field>
                
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>    
</div>
